node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
/attached_assets/*

# Yarn cache and PnP files
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build/
*.tsbuildinfo
